// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heading {
  
  color:#454545;
  a {
    color:#232323;
  }
}

$gray-darker: lighten(#000, 13.5%)!default; // #222


$font-stack: Helvetica, serif;
$primary-color: #333;

body {
  
  font: 100% $font-stack;
  color: $primary-color;
}