// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad10 {margin-top: 10px;}
.pad20 {margin-top: 20px;}
.pad30 {margin-top: 30px;}
.pad40 {margin-top: 40px;}
.pad50 {margin-top: 50px;}