<!DOCTYPE html>
<html>
<head>

<title>test page</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>hello world test</h1>
<h2>Yield is above here!</h2>

</body>
</html>